### 使用箱型图检测出异常值

In [1]:
# 导入
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
iris = load_iris()

In [ ]:
iris

In [3]:
stat = iris.data[:,1]
stat

array([3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3, 3.2, 3.2,
       3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2. , 3. , 2.2, 2.9, 2.9,
       3.1, 3. , 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3. , 2.8, 3. ,
       2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3. , 3.4, 3.1, 2.3, 3. , 2.5, 2.6,
       3. , 2.6, 2.3, 2.7, 3. , 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3. , 2.9,
       3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. , 2.5, 2.8, 3.2, 3. ,
       3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3. , 2.8, 3. ,
       2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. , 3.1, 3.1, 3.1, 2.7,
       3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ])

In [4]:
stat = pd.DataFrame(stat)
stat

       0
0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
..   ...
145  3.0
146  2.5
147  3.0
148  3.4
149  3.0

[150 rows x 1 columns]

In [5]:
c = stat.describe()
c

                0
count  150.000000
mean     3.057333
std      0.435866
min      2.000000
25%      2.800000
50%      3.000000
75%      3.300000
max      4.400000

In [6]:
# 计算IOC
IOC = c.loc['75%']-c.loc['25%']
IOC

0    0.5
dtype: float64

In [8]:
# 计算最大估值是
maxCount = c.loc['75%']+1.5*IOC
maxCount

0    4.05
dtype: float64

In [9]:
minCount = c.loc['25%']-1.5*IOC
minCount

0    2.05
dtype: float64

In [11]:
X = iris.data[:,1]
for i in range(1,150):
    if X[i] > maxCount.values or X[i] < minCount.values:
        print("当前异常值是:",X[i])
        print("当前异常值位置是:",i)

当前异常值是: 4.4
当前异常值位置是: 15
当前异常值是: 4.1
当前异常值位置是: 32
当前异常值是: 4.2
当前异常值位置是: 33
当前异常值是: 2.0
当前异常值位置是: 60